@model ModuleDto

@{
    ViewData["Title"] = "Удаление модуля";
}

<h1>Удаление</h1>
<h3>Вы уверены, что хотите удалить этот модуль?</h3>
<p class="text-danger">Внимание! При удалении модуля также будут удалены все связанные с ним тесты и результаты тестов.</p>

<div>
    <h4>Модуль из курса "@ViewBag.CourseTitle"</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

        <dt class="col-sm-2">Порядковый номер</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.OrderNumber)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ModuleId" />

        <input type="hidden" name="courseId" value="@Model.CourseId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Отмена</a>
    </form>
</div>