@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Управление пользователями";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Создать нового пользователя</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Email (Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.UserName
                </td>
                <td>
                    <a asp-action="ManageRoles" asp-route-id="@user.Id" class="btn btn-sm btn-warning" title="Редактировать">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger" title="Удалить">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>