@model IEnumerable<OnlineLearningCenter.BusinessLogic.DTOs.StudentCourseProgressDto>

@{
    ViewData["Title"] = "Прогресс студента";
}

<h1>Прогресс студента</h1>

<div>
    <h4>@ViewBag.StudentName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @ViewBag.StudentEmail
        </dd>
        <dt class="col-sm-2">
            Дата регистрации
        </dt>
        <dd class="col-sm-10">
            @ViewBag.RegistrationDate
        </dd>
    </dl>
</div>

<h4 class="mt-4">Прогресс по курсам</h4>

@if (!Model.Any())
{
    <p>Студент не записан ни на один курс.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название курса</th>
                <th>Прогресс по модулям</th>
                <th>Средний балл по тестам</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseTitle)
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @item.ModulesCompletedProgress.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture)%;" aria-valuenow="@item.ModulesCompletedProgress" aria-valuemin="0" aria-valuemax="100">
                                @item.ModulesCompletedProgress.ToString("0.##")%
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AverageTestScore)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-action="Index">Назад к списку студентов</a>
</div>