@model IEnumerable<OnlineLearningCenter.BusinessLogic.DTOs.CourseDto>

@{
    ViewData["Title"] = "Курсы";
}

<h1>Курсы</h1>

<p>
    <a asp-action="Create">Создать новый курс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Преподаватель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstructorName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseId">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>